<div class="no-gutter row">
    <ul class="breadcrumb" style="background-color: transparent; margin-bottom: 5px">

        <li><a href="#" onclick="return content(1,1)">На главную</a></li>
        <li><a href="#" onclick="return mymessage()">Мои объявления</a></li>

    </ul>
    <!-- left side column -->

    <div class="col-md-3">
        <div class="panel panel-default" data-spy="affix" data-offset-top="20">
            <div class="panel-heading text-center" style="background-image:none;background-color:#888;color:#fff;">
                РУБРИКИ
            </div>
            <div class="panel-body">
                <t4:block path="/News//NewsAsMenu/" mode="1"/>


            </div>
        </div>
        <!--/panel-->
    </div>
    <!--/end left column-->


    <!--mid column-->
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-heading text-center" style="background-color:#555;color:#eee;">{% if item.Pk == ''
                %}ПОДАТЬ ОБЪЯВЛЕНИЕ
                {% else%} МОИ ОБЪЯВЛЕНИЯ {% endif %}
            </div>
            <div id="message" class="panel-body">

                <article id="breadcrambs">
                    {% if item.Pk == '' %}
                    <h4 class="text-danger">Выберите рубрику</h4>
                    {% else %}
                    <div style="border: 1px">
                        <h4 class="text-danger">рубрика:</h4>
                        <ol class="breadcrumb">
                            {% for topic in parenttopic %}
                            <li><a>{{topic.title}}</a></li>
                            {% endfor %}
                            <li>{{item.topic.title
                                }}
                            </li>
                        </ol>
                    </div>
                    {% endif %}
                </article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Прайс</b>
                    </div>
                    <div class="panel-body">
                      1 слово {{app.config.prise.word}}р. + {{app.config.prise.nopaid}}слова бесплатно;
                        1 фото {{app.config.prise.photo}}р.; VIP статус {{app.config.prise.vip}}
                    </div>
                </div>

                    {% if item.Pk!='' %}
                <span style="color: #77CCDD;">Объявление УН {{item.Pk}}</span><span>&nbsp;&nbsp;Стоймость: текст: </span>
                <span id="prise"></span>р.; Фото:<span id="prisephoto"></span>р.; VIP: <span id="prisevip"></span>р.;
                Итого: <span id="priseall"></span>р.
                <hr>
                {% else %}
                </span><span>&nbsp;&nbsp;Стоймость: текст: </span>
                <span id="prise"></span>р.; Фото:<span id="prisephoto"></span>р.; VIP: <span id="prisevip"></span>р.;
                Итого: <span id="priseall"></span>р.
                <hr>
                {% endif %}

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#panel1">Объявление </a></li>
                    {% if item.Pk != '' and item.nopaid==0 %}
                    <li><a data-toggle="tab" href="#panel2">Фото обьявления</a></li>
                    {% endif %}

                </ul>

                <div class="tab-content">
                    <div id="panel1" class="tab-pane fade in active">
                        <br><br>

                        <form method="POST" id="form-add-msg" action="javascript:void(null);" onsubmit="call()">
                            <input id="topicid" type="hidden" name="topic" value="{{item.topic.Pk}}">
                            <input id="idpk" type="hidden" name="id" value="{{item.Pk}}">


                            <div class="form-group">
                                <label for="message">Текст объявления:</label>
                                <textarea id="text" class="form-control" name="text" rows="10"
                                          onfocus="textfocus()">{{item.text}} </textarea>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i> </span>
                                    <input id="mobile" type="text" name="mfone" class="form-control"
                                           value="{{item.mfone}}" placeholder="телефон сотовый">
                                </div>
                                <br>

                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-phone-alt"></i> </span>
                                    <input id="phone" type="text" name="fone" class="form-control" value="{{item.fone}}"
                                           placeholder="телефон городской">
                                </div>
                            </div>

                            {% if item.Pk != '' %}
                            <div class="checkbox">
                                <label>
                                    {% if item.vip==1 %}
                                    <input type="checkbox" id="vip" name="vip" checked value="1"> VIP статус
                                    {% else %}
                                    <input type="checkbox"  id="vip" name="vip" value="1"> присвоить VIP статус
                                    {% endif %}
                                </label>
                            </div>
                            {% endif %}

                            <button type="submit" class="btn btn-defult" style="color: white;background-color: #77CCDD">
                                Сохранить
                            </button>
                            {% if item.Pk != '' %}
                            <button type="button" class="btn btn-default">Опубликовать</button>
                            <a href="/news/delete?id={{ item.Pk}}" id="del" class="btn btn-danger">Удалить</a>
                            {% endif %}
                            <button type="button" class="btn btn-default" onclick="mymessage()">Выход</button>
                        </form>
                    </div>
                    <div id="panel2" class="tab-pane fade" style="height: 451px">

                        <div class="col-sm-10">


                            <h3 class="text-center"> Загрузка изображений </h3>

                            <hr>


                            <div id="fileuploader">Upload</div>
                            <button id="extrabutton" class="btn btn-success">Загрузить</button>
                            <p id="eventmessage"></p>


                            <section id="image">

                            </section>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <script src="{{ asset('/Layouts/upload/jquery.uploadfile.min.js') }}"></script>
    <script type="text/javascript">

        tree();
        $('#first').click();
        $('#first').focus();
        $('#image').load('/news/LoadImage?id={{item.Pk}}');
        $("#mobile").mask("+7 999 999 9999");

        $('#del').click(function () {
            if (confirm('Вы уверены что хотите удалить обьявление?')) {
                $.get($(this).attr('href'));
                mymessage();

            }
            return false;

        })

        var extraObj = $("#fileuploader").uploadFile({
            url: "/news/UpLoadImage.json", fileName: "myfile",
            dragDrop: false,
            uploadStr: "Выберите файлы для загрузки",
            cancelStr: "Удалить",
            extErrorStr: "разрешено только  *",
            acceptFiles: "image/*",
            showPreview: true,
            autoSubmit: false,
            showDone: true,
            //onSuccess: alert("succes"),
            returnType: "json",

            afterUploadAll: function (obj) {
                $("#eventsmessage").html($("#eventsmessage").html() + "<br/>All files are uploaded");

            },

            onSuccess: function (files, data, xhr, pd) {
                $('.ajax-file-upload-statusbar').hide();
                $('#image').load('/news/LoadImage?id={{item.Pk}}');

            },

            extraHTML: function () {
                var html = '<input type="text" name="story" value="{{item.Pk}}">';

                return html;
            },


        });

        $("#extrabutton").click(function () {

            extraObj.startUpload();

        });

        $('#text').keydown(function()
        {
            total_words=this.value.split(/[\s\.\?]+/).length;
            $('#prise').html(prise(total_words));
            priseall();
        });




            total_words=$('#text').val().split(/[\s\.\?]+/).length;
            $('#prise').html(prise(total_words));


        function prise(total){

            return (total-{{app.config.prise.nopaid}})*{{app.config.prise.word}};
        }

        function priseall(imagecount){

            $('#prisephoto').html({{app.config.prise.photo}}*imagecount);
        $('#prisevip').html(function(){
                 if($('#vip').attr('checked')=='checked')
                 {{app.config.prise.vip}}
        });
        total=$('#text').val().split(/[\s\.\?]+/).length;
        $('#priseall').html((total-{{app.config.prise.nopaid}})*{{app.config.prise.word}}+{{app.config.prise.vip}}+{{app.config.prise.photo}}*{{item.image.count}});
        };

        priseall({{item.image.count}});

        /*
         $('.image').each($(this).blur(function() { alert('blur');
         //$.post('/news/SaveImageText', {id: "{{item.Pk}}", text: $(this).val()});
         //console.log($(this));
         //alert($(this).val());
         }));

         */


    </script>








