<div class="no-gutter row">
    <ul class="breadcrumb" style="background-color: transparent; margin-bottom: 5px">

        <li><a href="/" onclick="content(1,1)">Все объявления</a></li>

    </ul>


    <!--mid column-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading text-center" style="background-color:#555;color:#eee;">НАЙДЕНЫЕ ОБЪЯВЛЕНИЯ</div>
            <div id="message" class="panel-body">
                <article>

                    {% if itemsCount>0 %}
                    {% for item in items %}

                    {{item.text|raw}}


                    <div class="bottom-article">


                        <ul class="meta-post">
                            <li><i class="glyphicon glyphicon-calendar"></i>{{item.published|date("d.m.Y")}}</li>
                            {% if item.text|length > 250 %}
                            <li><i class="glyphicon glyphicon-eye-open"></i>{{item.view}}</li>
                            {% endif %}
                            {% if item.image.count>0 %}
                            <li><a href="/news/One?id={{item.Pk}}" class="img"><img src="{{item.image[0].image}}" class="img-responsive"
                                                                                    style="max-width: 20px; max-height: 30px;  !important;"></a> &nbsp;&nbsp;{{item.image.count}}
                                фото
                            </li>
                            {% endif %}
                        </ul>
                        {% if item.text|length > 250 %}
                        <a href="/news/One?id={{item.Pk}}" id="img" class=" img pull-right">Показать все ...</a>
                        {% endif %}
                    </div>
                    <br><br>
                    {% endfor %}
                    {% else %}
                    <code>Ничего не найдено</code>
                    {% endif %}


                    <div class="row">
                        <div class="container">
                            {% if itemsCount>0 %}
                            {{widget('mypager', {'total': itemsCount, 'size': pageSize, 'active': activePage,'myPage':
                            topic, 'url': '/admin/news/?page=%d'})}}
                            {% endif %}
                        </div>
                    </div>


                </article>

            </div>
        </div>
    </div>
</div>

