<table id="photo" class="table table-striped table-hover">

<tr>
    <th class="">Фотография</th>
    <th class="">Описание</th>
    <th>Удалить</th>
</tr>

{% for photo in item.image %}
<tr>

    <td>
        <img class="img-responsive" src="{{ photo.image }}" width="100" alt="{{ photo.text }}"/>
    </td>
    <td class="">

        <form id="form{{loop.index}}" class="form-horizontal">
            <input type="hidden" name="id" value="{{photo.Pk}}">
            <textarea class="image "  rows="6" name="text" onblur="$(this).submit()" style="width: 100%">{{photo.text}}</textarea>
        </form>

    </td>
    <td >

        <a class="btn btn-danger btn-sm delfoto" href="/News/PhotoDelete/?id={{photo.Pk}}" ><i
                class="glyphicon glyphicon-remove"></i></a>
    </td>

</tr>
{% endfor %}
</table>

<script type="text/javascript">
    $('.delfoto').click(function () {
        if (confirm('Вы уверены что хотите удалить фото?')) {
            $.get($(this).attr('href'));
            $('#image').load('/news/LoadImage?id={{item.Pk}}');

        }

        return false;

    })

    $('form').submit(function () {
        var formID = $(this).attr('id'); // Получение ID формы
        var formNm = $('#' + formID);
        $.ajax({
            type: 'POST',
            url: '/news/SaveImageText.json', // Обработчик формы отправки
            data: formNm.serialize(),
            onSuccess: function(){

        }});

        return false;
    });


    priseall({{item.image.count}});
</script>