
<div class="no-gutter row">
    <!-- left side column -->
    <div class="col-md-3">
        <div class="panel panel-default" id="sidebar">
            <div class="panel-heading text-center" style="background-image:none;background-color:#888;color:#fff;">РУБРИКИ</div>
            <div class="panel-body" >
                <t4:block path="/News//NewsAsMenu/" mode="1"/>


            </div>
        </div><!--/panel-->
    </div><!--/end left column-->



    <!--mid column-->
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-heading text-center" style="background-color:#555;color:#eee;">МОИ ОБЪЯВЛЕНИЕ</div>
            <div id="message" class="panel-body">
                <article>
                    {% for item in items %}

                    {{item.text|raw}}



                    <div class="bottom-article">
                        <ul class="meta-post">
                            <li><i class="glyphicon glyphicon-calendar"></i>{{item.published|date("d.m.Y")}}</li>
                            <li><i class="glyphicon glyphicon-eye-open"></i><a href="#"> </a></li>
                        </ul>
                        <a href="#" onclick="addmessage({{item.Pk}})" class="pull-right">Редактировать</i></a>
                    </div><br><br>
                    {% endfor %}



                    <div class="row">
                        <div class="container">
                        {{widget('mypager', {'total': itemsCount, 'size': pageSize, 'active': activePage,'myPage': topic, 'url': '/admin/news/?page=%d'})}}
                            </div>
                    </div>


                </article>

            </div>
        </div>
    </div>
</div>









