
<div class="no-gutter row">
    <ul class="breadcrumb" style="background-color: transparent; margin-bottom: 5px">

        <li><a href="/" onclick="content(1,1)">На главную</a></li>
        <li>мои объявления</a></li>
    </ul>


    <!--mid column-->
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading text-center" style="background-color:#555;color:#eee;">МОИ ОБЪЯВЛЕНИЕ</div>
            <div id="message" class="panel-body">
                <article>

                    {% if itemsCount>0 %}
                    {% for item in items %}

                    {{item.text|raw}}


                    <div class="bottom-article">
                        <ul class="meta-post">
                            <li><i class="glyphicon glyphicon-calendar">

                            </i>
                                {% if not item.published %}
                                    Неопубликовано
                                {% else %}
                                {{item.published|date("d.m.Y")}}
                                {% endif %}
                            </li>
                            <li><i class="glyphicon glyphicon-eye-open"></i><a href="#"> </a></li>
                            {% set endpublished=app.config.published %}
                            <li>Будет удалено: {{item.published|date_modify("+"~ endpublished~" day")|date("d.m.Y")}}
                            </li>

                        </ul>
                        <a href="#" onclick="return addmessage({{item.Pk}})" class="pull-right">Редактировать</i></a>
                    </div>
                    <br><br>
                    {% endfor %}
                    {% else %}
                    <code>У вас нет объявлений</code>
                    {% endif %}


                    <div class="row">
                        <div class="container">
                            {% if itemsCount>0 %}
                            {{widget('pager', {'total': itemsCount, 'size': pageSize, 'active': activePage,'myPage':
                            topic, 'url': '/news/MyMessage?page=%d'})}}
                            {% endif %}
                        </div>
                    </div>


                </article>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>









