
      <section id="long">

            {% for item in items %}
           <!-- <ol class="breadcrumb">
                {% for topic in item.topic.findAllParents %}
                {% if loop.index >1 %}
                <li><a >{{topic.title}}</a></li>
                {% endif %}
                {% endfor %}
                <li>{{item.topic.title}}</li>
            </ol>-->
            {{ item.text|striptags|length > 250 ? (item.text|striptags|slice(0, 250)~'...')|raw : item.text|striptags|raw }}
        <div class="bottom-article">


            <ul class="meta-post">
                <li><i class="glyphicon glyphicon-calendar"></i>{{item.published|date("d.m.Y")}}</li>
                <li><i class="glyphicon glyphicon-eye-open"></i><a href="#"> </a></li>



            </ul>
            <a href="#" class="pull-right">Читать дальше ...</i></a>
        </div><br><br>
            {% endfor %}


        <div class="container">
        <div class="row">{{widget('mypager', {'total': itemsCount, 'size': pageSize, 'active': activePage,'myPage': topic, 'url': '/admin/news/?page=%d'})}}</div>
        </div>
</section>







