<div id="myCarousel" class="carousel slide">

    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for column in vip|batch(3, null) %}

                {% if loop.index ==1 %}
                <div class="item active">
                    {% else %}
                    <div class="item ">
                        {% endif %}
                        <div class="row-fluid">
                 {% for item in column  %}
                <div class="col-md-4" >
                    {% if item.image[0] %}
                    <a href="/news/One?id={{item.Pk}}" class="thumbnail one"><img  src="{{item.image[0].image}}" alt="Image" style="max-width:100%;" /></a>
                    {% else %}
                    <a href="/news/One?id={{item.Pk}}" class="thumbnail one"><img  src="{{asset('/Layouts/slider/vip.jpg')}}"/></a>
                    {% endif %}
                    <div class="carousel-caption">
                        <p><b>{{item.title}}</b></p>
                    </div>
                </div>
               {% endfor %}
            </div><!--/row-fluid-->
        </div><!--/item-->

        {% endfor %}


    </div><!--/carousel-inner-->
    {% if vip.count >3 %}
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    {% endif %}
</div><!--/myCarousel-->
    </div>

<script>
    $('#myCarousel').carousel({
        interval: 6000
    })


            $('.one ').click(function () {

                var toLoad = $(this).attr('href');
                $('#body').empty();
                $('#body').load(toLoad);
                return false;

            });

</script>

