<div class="span8">
<div id="owl-demo" class="owl-carousel owl-theme">
    {% for item in vip %}
    <div class="item"><img src={{item.image[0].image}} alt="Owl Image">
    <a href="/news/One?id={{item.Pk}}" id="img" class="text-center" ><p>{{item.title}}</p></a>
    </div>
    {% endfor %}
</div>
    </div>
<script>
    $('#owl-demo').owlCarousel({
        autoplay: 1000,
        items : 4,
        //itemsDesktop : [1199,3],
        //itemsDesktopSmall : [979,3],
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:false
            },
            600:{
                items:3,
                nav:false
            },
            1000:{
                items:4,
                nav:false,
                loop:false
            }
        }
    })

    $('#img ').click(function () {

        var toLoad = $(this).attr('href');
        $('#body').empty();
        $('#body').load(toLoad);
        return false;

    });

</script>