{% extends "Index.html" %}

{% block content %}
<div class="container" style="background-color: white">
    <h4> Для того что бы опубликовать обьявление необходима регистрация</h4>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#panel1">Войти на сайт</a></li>
        <li><a data-toggle="tab" href="#panel2" style="color: #b60000">Регистрация</a></li>
    </ul>

    <div class="tab-content">
        <div id="panel1" class="tab-pane fade in active">
            <br><br>
            <t4:block path="//User/login"/>
        </div>
        <div id="panel2" class="tab-pane fade">
            <t4:block path="//User/Register"/>
        </div>
    </div>

</div>
{% endblock %}