{% for error in errors %}
<div class="alert alert-danger" role="alert">{{error.message}}</div>
{% endfor %}
<form role="form" action="/user/login.html" method="post" style="padding: 15px">
    <div class="form-group">
        <h5 style="color: black">Войти или зарегистрироваться</h5>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" placeholder="E-mail" class="form-control input-sm" name="login[email]">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" placeholder="Пароль" class="form-control input-sm" name="login[password]">
        </div><br>
        <div class="form-group">
            <button type="submit" class="btn btn-theme-bg pull-right" style="background-color: #77CCDD"><i class="glyphicon glyphicon-share"></i> Войти
            </button>
        </div>
        <div class="clearfix"></div>
        <hr>

    </div>
</form>


<script type="text/javascript">
$('form').submit(function (e) {
e.preventDefault();
var data = $('form').serializeArray();
$.ajax({
type: "POST",
url:"/user/login.json",
data: data,
success: success,
dataType: dataType});});
</script>
