{% extends "Index.html" %}

{% block content  %}
<div class="no-gutter row">
    <!-- left side column -->
    <div class="col-md-3">
        <div class="panel panel-default disabled"  id="sidebar">
            <div class="panel-heading text-center" style="background-image:none;background-color:#888;color:#fff;">РУБРИКИ</div>
            <div class="panel-body" id="menu" style="padding: 0" ><br>
                <t4:block path="/News//NewsAsMenu/" />


            </div>
        </div><!--/panel-->
    </div><!--/end left column-->



    <!--mid column-->
    <div class="col-md-6">
        <div class="panel " id="midCol">
            <div class="panel-heading text-center" id="content-header" style="background-color:#555;color:#eee;">ОБЪЯВЛЕНИЯ</div>
            <div  class="panel-body" >
                <article id="message">
                    <!--<t4:block path="/News//PageForTopic/" />-->

                </article>


            </div>

        </div>
    </div>


    <div class="col-md-3" >
        <div class="panel">
            <div class="panel-heading text-center" style="background-color:#111;color:#fff;">КОРОТКИЕ ОБЪЯВЛЕНИЯ </div>
            <div class="panel-body" id="short" style="position: relative">



            </div>
        </div>

    </div>
</div>
{% endblock  %}

{% block pagescript %}

{% endblock %}

