
<!-- Модальное окно -->
<div id="register" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
            </div>
            <!-- Основная часть модального окна, содержащая форму для регистрации -->
            <div class="modal-body">
                <p id="messageregister" class="text-center" style="color: #9b0000;"></p>
                <!-- Форма для регистрации -->
                <form id="formregister" method="post" role="form" name="myForm">
                    <!-- Блок для ввода логина -->
                    <div id="email" class="form-group has-feedback">
                        <label for="email" class="control-label">Введите email:</label>
                        <span class="message" style="color: red"></span></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" id="emailinput" class="form-control"  required="required" name="register[email]" value="">
                        </div>
                        <span id="emailfeedback" class="glyphicon form-control-feedback"></span>
                    </div>

                    <div id="password" class="form-group has-feedback">
                        <label for="pass" class="control-label">Введите пароль(не менее 6 символов):
                            <span class="message" style="color: red"></span></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="password" id="pass" class="form-control" required="required" name="register[password]" pattern="&#91;0-9-A-Za-z&#93;{6,}" value="">
                        </div>
                        <span id="passfeedback" class="glyphicon form-control-feedback"></span>
                    </div>





                    <div id="password2" class="form-group has-feedback">
                        <label for="pass2" class="control-label">Введите пароль еще раз:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="password" id="pass2" class="form-control" required="required" name="register[password2]" pattern="&#91;0-9A-Za-z&#93;{6,}" value="">
                        </div>
                        <span id="pass2feedback" class="glyphicon form-control-feedback"></span>
                    </div>
                    <!-- Блок для ввода email -->

                    <hr>
                    <!--Изображение, содержащее код CAPTCHA-->
                    <img id="img-captcha" src="">
                    <!--Элемент, запрашивающий новый код CAPTCHA-->
                    <div id="reload-captcha" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> Обновить</div>
                    <!--Блок для ввода кода CAPTCHA-->
                    <div class="form-group has-feedback">
                        <label id="label-captcha" for="captcha" class="control-label">Пожалуйста, введите указанный на изображении код:</label>
                        <input id="text-captcha" name="register[captcha]" type="text" class="form-control" required="required" value="">
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="message" style="color: red"></span></label>
                    </div>
                </form>
            </div>
            <!-- Нижняя часть модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button id="save" type="button" class="btn btn-primary">Регистрация</button>
            </div>
        </div>
    </div>
</div>

<script>

    function  trigger(id,err,warning){
       // alert('err',err)
        var formGroup =id.parents('.form-group');
        var glyphicon = formGroup.find('.form-control-feedback');
        var message=formGroup.find('.message');
        if(err){
            formGroup.addClass('has-success').removeClass('has-error');
            glyphicon.addClass('glyphicon-ok').removeClass('glyphicon-remove');
            message.html('');

        } else {
            formGroup.addClass('has-error').removeClass('has-success');
            glyphicon.addClass('glyphicon-remove').removeClass('glyphicon-ok');
            message.html(warning);


        }
    }


    function validate() {

        //переменная formValid
        var formValid = true;
        //перебирает все элементы управления input, кроме CAPTCHA
        $('input').each(function () {

            if (this.checkValidity()) {
                trigger($(this),true);
                formValid=true;
            } else {
                trigger($(this),false);
                formValid=false;
            }
        });

        if(document.getElementById('pass').checkValidity()|| document.getElementById('pass2').checkValidity() ) {
            if ($('#pass').val() != $('#pass2').val()) {

                trigger($('#pass'), false, 'Пароли не совпадают!');
                trigger($('#pass2'), false);
                formValid = false;
            } else {
                trigger($('#pass'), true);
                trigger($('#pass2'), true);
                formValid = true;
            }
        } else {
            trigger($('#pass'), false,'');
            trigger($('#pass2'), false);
            formValid = false;
        }




        if (formValid) {

            var data = $('#formregister').serializeArray();
            $.ajax({
                type: "POST",
                url: "/user/Register.json",
                data: data,
                    success: function (data) {

                        if(data.error) {
                            trigger($('#emailinput'),true,'');
                            trigger($('#text-captcha'),true,'');

                            data.error.forEach(function (item) {
                                switch (item) {
                                    case 105 :{trigger($('#emailinput'),false,'Пользователь с таким e_mail уже зарегестрирован!');break}
                                    case 102 :{trigger($('#text-captcha'),false,'Неправильно введены символы с картинки!');break}
                                }
                            })
                        } else {
                            $('#register').hide();
                            location.reload(true)
                        }

                },
                dataType: 'json',
                async: false,
            });
        }
    };

    $(function() {
//выводит новый код CAPTCHA при открытии модального окна  
        $('#register').on('show.bs.modal', function () {
            $('#img-captcha').attr('src', 'captcha.php?id=' + Math.random() + '');
        });
//выводит новый код CAPTCHA при нажатии на кнопку Обновить
        $("#reload-captcha").click(function () {
            $('#img-captcha').attr('src', '/captcha?id=' + Math.random() + '');
        });
//при нажатии на кнопку Регистрация (id="save")
        $('#save').click(validate);


    })
    </script>
